#about-me-section-background {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 70px;
}

#sub-title-about-me {
  display: block;
  font-size: 30px;
  text-align: center;
  margin: 20px 40px;
  padding: 10px;
}

.about-us-default-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#early-life,
#radio-broadcasting {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 10px 30px;
  border: rgba(74, 158, 255, 0.3) solid 1px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 20px 40px;
}

.text-section {
  width: 75%;
}

.about-me-heading {
  font-size: 35px;
  margin-top: 0;
}

.about-me-description {
  font-size: 25px;
}

.img-section {
  width: 25%;
}

.img-section img {
  object-fit: contain;
  height: 300px;
  background-size: cover;
  background-position: top center;
  border-radius: 20px;
}
