/* Header imported font*/

.mozilla-headline-header {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.zen-dots-regular {
  font-family: "Zen Dots", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.nova-square-regular {
  font-family: "Nova Square", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* standard text imported font*/
.mozilla-headline {
  color: aliceblue;
  font-family: "Mozilla Headline", sans-serif;
  font-weight: 400;
}