
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    /* Remove any absolute/fixed positioning */
    position: static; /* or relative */
}

.main-content {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    color: white;
}

.main-content .home-image {
    margin: 40px 40px 40px 40px;
    padding: 10px 10px;
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-content .home-content {
    margin-left: 40px;
    align-items: center;
    justify-content: center;
}

.home-image img {
    height: auto;
    width: 300px;
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}

span, h1 {
    color: aliceblue;
}