
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: static;
}

.main-content {
    display: flex;
    padding: 5rem;
    justify-content: center;
    align-items: center;
    color: white;
}

.main-content .home-image {
    margin: 40px 40px 40px 40px;
    padding: 10px 10px;
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-content .home-content {
    margin-left: 40px;
    align-items: center;
    justify-content: center;
}

.home-image img {
    height: auto;
    width: 300px;
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}

span, h1 {
    color: aliceblue;
}

/*
My Journey Header
*/
#my-journey {
    text-align: center;
    font-size: 60px;
}

/*
Represents all sections
*/
.from-the-beginning,
.why-i-switched,
.current-focus,
.whats-next {
    border: 1px solid white;
    padding: 30px;
    margin: 20px 40px;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    gap: 30px;
}

/*
From the Beginning Section
*/
.main-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 20px 20px;
}

#main-heading {
    text-align: center;
    margin: 10px 10px;
}

.picture-section img {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100px;
    margin: 20px;
}

.heading-and-section {
    size: 100px;
}

/*
Mouse hovers over section
 - changes border color
 - moves the section up 5px
 - Animate ALL the changes and transitioning with ease
*/
.from-the-beginning:hover,
.why-i-switched:hover,
.current-focus:hover,
.whats-next:hover {
    border-color: #4a9eff;
    transform: translateY(-5px);
    transition: all 0.3s ease;
}