/* Hero Section */

#intro {
    font-size: 60px;
    margin: 0;
}

.main-content {
    display: flex;
    padding: 5rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
}

.main-content #home-content {
    margin-left: 40px;
}

.home-image img {
    height: auto;
    width: 300px;
    border-radius: 50%;
    border-width: 2px solid white;
}

/* MY JOURNEY SECTION */

.journey-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 30px;
    background-color: black;
    transition: border-color 0.3 ease, transform 0.3s ease;
}

.journey-card:hover {
    border-color: #4a9eff;
    transform: translateY(-5px);
}

.picture-section img {
    height: auto;
    width: 100px;
    margin: 20px;
}

.journey-text {
    width: 100%;
}

/* PROJECTS SECTION */

.my-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-container {
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    padding: 20px;
    max-width: 300px;
    transition: border-color 0.3s ease, transform 0.3s ease;
}
 
.project-container:hover {
    border-color: #4a9eff;
    transform: translateY(-5px);
}

.academic-pic {
    width: 100%;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
}

/*TECHNICAL SKILLS SECTION*/

.my-technical-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-container {
    width: 275px;
    height: auto;
    border-radius: 15px;
    border-style: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 40px 40px 40px;
    text-align: center;
    transition: border-color 0.3s ease, transform 0.3s ease;
}

.skills-container:hover {
    border-color: #4a9eff;
    transform: translateY(-5px);
}

.programming-icons img {
    width: 50px;
    height: 50px;
}

.languages-list {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.programming-text {
    margin-left: 20px;
    margin-top: 20px;
}

h2 {
    color: aliceblue;
}

@media screen and (max-width: 1000px) {
    
    .main-content {
        flex-direction: column;
        padding: 2rem;
        gap: 40px;
    }
 
    #home-content {
        text-align: center;
        margin-left: 0;
    }
 
    .journey-card {
        flex-direction: column;
        text-align: center;
    }
 
    .main-title {
        font-size: 40px;
    }
}
 