#project-title-sub-heading {
  display: block;
  text-align: center;
  font-size: 30px;
  margin: 0 200px 100px 200px;
}

.project-container-header {
  margin: 0;
}

.individual-project-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 30px;
}

#background-project-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#background-project-container h2 {
  text-align: center;
  padding: 30px;
  font-size: 40px;
}

.professional-projects,
.personal-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  max-width: 600px;
  min-height: 600px;
  border: 1px #4a9eff solid;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.professional-projects h2,
.personal-projects h2 {
  margin: 0;
  padding: 0;
}

.academic-pics {
  width: 100%;
  height: 280px;
  border-radius: 10px;
  background-size: cover;
  background-position: top center;
}

.meticulous-pete-image {
  background-image: url("../pictures/index/meticulous-peter.png");
}

.valence-noir-image {
  background-image: url("../pictures/index/VALENCE-NOIR.png");
}

.truth-or-dare-image {
  background-image: url("../pictures/index/truth-or-dare.png");
}

.first-professional-website-image {
  background-image: url("../pictures/projects/1st-pro-website.png");
}

.cooking-website-image {
  background-image: url("../pictures/projects/cookbook-website.png");
}

.project-description {
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
