#project-title-sub-heading {
    display: block;
    text-align: center;
    font-size: 30px;
    margin: 0 200px 100px 200px;
}

.project-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* flex: auto; */
    align-items: center;
}