/* RESUME LAYOUT*/

.resume-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 100px;
  margin: 50px;
  justify-content: center;
}

.contact-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
  padding: 0.5rem;
}

/* RESUME HEADER */
#resume-name {
  color: #4a9eff;
  font-size: 60px;
  margin: 40px 0 40px 0;
}

#resume-header {
  color: white;
  font-size: 30px;
}

#contact-heading {
  font-size: 20px;
  text-align: center;
}
.personal-details-image img {
  height: 20px;
  width: 20px;
}

.personal-details-text a {
  text-decoration: none;
}

#resume-link {
  display: block;
  width: fit-content;
  margin: 0 auto 60px auto;
  padding: 20px 30px;
  text-decoration: none;
  background-color: black;
  border: 1px solid #4a9eff;
  border-radius: 10px;
  text-align: center;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

#resume-link:visited {
  color: white;
}

#resume-link:hover {
  background-color: #4a9eff;
  color: black;
}

.resume-picture-container {
  display: flex;
  margin: 50px;
  justify-content: center;
}

.resume-picture-container img {
  box-shadow: 15px 15px 40px 0 rgba(74, 158, 255, 0.5);
}

#skills-container {
  background-color: rgba(0, 0, 0, 0.5);
}

#skills-header {
  margin: 10px;
  /* padding: 100px; */
}

#skills-title {
  margin: 30px;
  text-align: center;
  font-size: 50px;
}

#skills-description {
  display: block;
  margin: 30px;
  text-align: center;
  font-size: 25px;
}

.skills-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#web-development-titles,
#programming-language-titles,
#framework-titles,
#databases-titles,
#testing-titles,
#development-software-titles,
#os-networking-titles,
#soft-professional-skills {
  text-align: center;
  font-size: 35px;
  padding: 20px;
}

.individual-skills-card {
  perspective: 600px;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  border: #4a9eff solid 1px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.individual-skills-card:hover {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

.card-front {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.individual-skills-icon {
  width: 100px;
  height: auto;
  transform: translate(50%, 30%);
}

#java-icon {
  width: 75px;
  height: auto;
  transform: translate(80%, 25%);
}

#access-icon {
  width: 100px;
  height: auto;
}

#netbean-icon {
  width: 100px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .resume-container {
    flex-direction: column;
    gap: 40px;
    margin: 20px;
  }

  #resume-name {
    font-size: 40px;
  }
}
