/* RESUME LAYOUT*/

.resume-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
    margin: 50px;
    justify-content: center;
}

.contact-header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content:flex-start;
    padding: 0.5rem;
}

/* RESUME HEADER */
#resume-name {
    color: #4a9eff;
    font-size: 60px;
    margin: 40px 0 40px 0;

}

#resume-header {
    color: white;
    font-size: 30px;
}

.personal-details-image img {
    height: 20px;
    width: 20px;
}

.personal-details-text a {
    text-decoration: none;
}

#resume-link {
    display: block;
    width: fit-content;
    margin: 0 auto 60px auto;
    padding: 20px 30px;
    text-decoration: none;
    background-color: black;
    border: 1px solid #4a9eff;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}
 
#resume-link:visited {
    color: white;
}
 
#resume-link:hover {
    background-color: #4a9eff;
    color: black;
}
 
@media screen and (max-width: 768px) {
    .resume-container {
        flex-direction: column;
        gap: 40px;
        margin: 20px;
    }
 
    #resume-name {
        font-size: 40px;
    }
}