.my-technical-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-container {
    width: 275px;
    height: auto;
    background-color: black;
    border-radius: 15px;
    border-color: aliceblue;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 40px 40px 40px;
    text-align: center;
}

.programming-icons img {
    width: 50px;
    height: 50px;
}

.languages-list {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-self: center;
    text-align: center;
    justify-content: center;
}

.programming-text {
    margin-left: 20px;
    margin-top: 20px;
}

h2 {
    color: aliceblue;
}